#encyclopediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(50,50,50);
    width: 90%;
    margin: auto;
    margin-bottom: 16px;
}

.encyclopedia-card {
    width: 181px;
    height: 254px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 8px;
    transition: all 0.25s;
}

.encyclopedia-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#backToTop {
    color: white;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 16px;
}

@media (max-width: 700px) {
    #backToMain {
        display: none;
    }

    .encyclopedia-card {
        width: 25%;
        height: auto;
        aspect-ratio: 362 / 508;
    }
}